<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geekcac.blogsystem.mapper.NewsTagMapper">

    <resultMap id="BaseResultMap" type="com.geekcac.blogsystem.domain.NewsTag">
            <id property="tagId" column="tag_id" jdbcType="INTEGER"/>
            <result property="tagName" column="tag_name" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="tagCount" column="cnt" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        tag_id,tag_name,is_deleted,
        create_time
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_news_tag
        where  tag_id = #{tagId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_news_tag
        where  tag_id = #{tagId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="tag_id" keyProperty="tagId" parameterType="com.geekcac.blogsystem.domain.NewsTag" useGeneratedKeys="true">
        insert into tb_news_tag
        ( tag_id,tag_name,is_deleted
        ,create_time)
        values (#{tagId,jdbcType=INTEGER},#{tagName,jdbcType=VARCHAR},#{isDeleted,jdbcType=TINYINT}
        ,#{createTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="tag_id" keyProperty="tagId" parameterType="com.geekcac.blogsystem.domain.NewsTag" useGeneratedKeys="true">
        insert into tb_news_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="tagId != null">tag_id,</if>
                <if test="tagName != null">tag_name,</if>
                <if test="isDeleted != null">is_deleted,</if>
                <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="tagId != null">#{tagId,jdbcType=INTEGER},</if>
                <if test="tagName != null">#{tagName,jdbcType=VARCHAR},</if>
                <if test="isDeleted != null">#{isDeleted,jdbcType=TINYINT},</if>
                <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.geekcac.blogsystem.domain.NewsTag">
        update tb_news_tag
        <set>
                <if test="tagName != null">
                    tag_name = #{tagName,jdbcType=VARCHAR},
                </if>
                <if test="isDeleted != null">
                    is_deleted = #{isDeleted,jdbcType=TINYINT},
                </if>
                <if test="createTime != null">
                    create_time = #{createTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where   tag_id = #{tagId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.geekcac.blogsystem.domain.NewsTag">
        update tb_news_tag
        set
            tag_name =  #{tagName,jdbcType=VARCHAR},
            is_deleted =  #{isDeleted,jdbcType=TINYINT},
            create_time =  #{createTime,jdbcType=TIMESTAMP}
        where   tag_id = #{tagId,jdbcType=INTEGER}
    </update>

    <select id="selectAllTagNewsCnt" resultMap="BaseResultMap">
        SELECT
            count(*) as cnt,tag.tag_id,tag.tag_name
        FROM
            tb_news,
            tb_news_tag_relation tr,
            tb_news_tag tag
        WHERE
            tb_news.news_id = tr.news_id
          AND tr.tag_id = tag.tag_id
        group by tag.tag_id
        order by cnt desc
    </select>
    <delete id="deleteByNewsIds">
        delete FROM tb_news_tag_relation where news_id in
        <foreach collection="newsIds" item="id" open="(" separator="," close=")" >
            #{id}
        </foreach>
    </delete>
    <delete id="deleteByIds">
        delete from tb_news_tag where tag_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")" >
            #{id}
        </foreach>
    </delete>
    <select id="querAll" resultMap="BaseResultMap">
        select * from tb_news_tag
    </select>

</mapper>
